.sort{
    display: flex;
    flex-direction: row;
}
.productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 132px;
    padding-right: 132px;
}