.box {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo{
    margin-left: 42px;
    margin: 22px;
    width: 39px;
    height: 36px;
}
.info {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
.name{
    font-family:SourceSansPro-Regular;
    font-size:24px;
    color:#616161;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
    padding-right: 17px;
}

.coins {
    display: flex;
    flex-direction: row;
    background:#ededed;
    border-radius:100px;
    width:103px;
    height:48px;
    margin-top: 16px;
}
.coins img {
    width: 24px;
    height: 24px;
}
.points{
    font-family:SourceSansPro-Regular;
    font-size:24px;
    color:#616161;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
}